<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Plotlyjs Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
        <div class="col-md-12 jumbotron text-center">
            <h1>Wages in the United States</h1>
            <p>Use the interactive charts below to explore the dataset</p>
        </div>
        </div>

    <div class = "row">
        <div class = "col-md-12">
            <div id="map-id"></div>
        </div>
    </div>
    
    <div class ="row">
        <div class = "col-md-12">
            <div id = "line_plot"></div>
        </div>
    </div>

    <div class ="row">
        <div class = "col-md-12">
            <div id = "bar_plot"></div>
            <select id="selDataset" onchange="getData(this.value)">
                <option value="2008">2008</option>
                <option value="2009">2009</option>
                <option value="2010">2010</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
              </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12"></div>
        <div id="visualization">
                <div class="menu">
                    <input type="button" id="zoomIn" value="Zoom in"/>
                    <input type="button" id="zoomOut" value="Zoom out"/>
                    <input type="button" id="moveLeft" value="Move left"/>
                    <input type="button" id="moveRight" value="Move right"/>
                    <input type="button" id="2008" value="2008"/>
                    <input type="button" id="2009" value="2009"/>
                    <input type="button" id="2010" value="2010"/>
                    <input type="button" id="2011" value="2011"/>
                    <input type="button" id="2012" value="2012"/>
                    <input type="button" id="2013" value="2013"/>
                    <input type="button" id="2014" value="2014"/>
                    <input type="button" id="2015" value="2015"/>
                    <input type="button" id="2016" value="2016"/>
                    <input type="button" id="2017" value="2017"/>
                    <input type="button" id="2018" value="2018"/>
                </div> 
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/config.js') }}"></script>
        <script src="{{ url_for('static', filename='js/data.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bar.js') }}"></script>
        <script src="{{ url_for('static', filename='js/line.js') }}"></script>
    
        <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
        <script src="{{ url_for('static', filename='js/industries.js') }}"></script>
        <script src="{{ url_for('static', filename='js/choropleth.js') }}"></script>
        <script src="{{ url_for('static', filename='js/leaflet.map') }}"></script>


        <script src="{{ url_for('static', filename='js/timeline.js') }}"></script>



</body>

</html>
